# Dependencies
/node_modules
/vendor

# Build output
/public/build
/public/hot

# Laravel generated
/public/storage
/storage/*.key
/bootstrap/cache/*.php
/storage/framework/views/
/storage/framework/cache/
/storage/framework/sessions/

# Environment
.env
.env.backup
.env.production
.env.*.local

# Testing
.phpunit.result.cache
/coverage

# Logs
npm-debug.log
yarn-error.log
/storage/logs/*.log

# IDE / OS
/.fleet
/.idea
/.vscode
.DS_Store
Thumbs.db
desktop.ini

# Laravel legacy
Homestead.json
Homestead.yaml
auth.json
